:root {
    --p-text-color: rgb(255, 255, 255);
    --p-main-color: #0098A3;
    --p-bg-color: #F9DBBD;
    --menu-background: #0098A3;
    --menu-color: rgb(34, 34, 34);
    --menu-mobile-icon: var(--p-text-color);

    text-decoration: none;
    color: black
}
.body-wrapper {
    padding-top: 21px;
}
@media only screen and (min-width: 650px) {
}