:root {
    --p-text-color: rgb(255, 255, 255);
    --p-main-color: rgb(89, 152, 163);
    --p-bg-color: rgb(255, 255, 255);
    --menu-background: rgb(89, 152, 163);
    --menu-color: rgb(34, 34, 34);
    --menu-mobile-icon: var(--p-text-color);

    text-decoration: none;
}
.body-wrapper {
    padding-top: 21px;
}
@media only screen and (min-width: 650px) {
}